Flask==0.10.1
Flask-Bootstrap==2.3.2.1
Flask-Login==0.2.6
Flask-MarrowMailer==0.2.0
Flask-SQLAlchemy==1.0
Flask-WTF==0.9.0
Jinja2==2.7.1
MarkupSafe==0.18
SQLAlchemy==0.8.2
WTForms==1.0.4
Werkzeug==0.9.3
futures==2.1.4
itsdangerous==0.23
marrow.interface==1.0.0
marrow.mailer==4.0.0
marrow.util==1.2.3
passlib==1.6.1
rauth==0.6.2
requests==1.2.3
wsgiref==0.1.2
