{% extends "base.html" %}
{% import "bouncer/macros.html" as m %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h3>Create Password</h3>
<form class="form-horizontal" method="POST">
  {{ form.hidden_tag() }}
  {{ m.render_field(form.old_password, 'Old Password') }}
  {{ m.render_field(form.password, 'Password') }}
  {{ m.render_field(form.password2) }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Change Password</button> <a class="btn" href="{{ url_for('.login') }}">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}

