{% extends "base.html" %}
{% import "bouncer/macros.html" as m %}
{% block title %}Reset Password{% endblock %}
{% block content %}
<h3>Reset Password</h3>
<form class="form-horizontal" method="POST">
  {{ form.hidden_tag() }}
  {{ form.token }}
  {{ m.render_field(form.email, 'Email') }}
  {{ m.render_field(form.password, 'Password') }}
  {{ m.render_field(form.password2) }}
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Reset Password</button> <a class="btn" href="{{ url_for('.login') }}">Cancel</a>
    </div>
  </div>
</form>
{% endblock %}

